{% extends "organization/read_base.html" %}

{% block subtitle %}{{ _('Roles') }} {{ g.template_title_delimiter }} {{ super() }}{% endblock %}

{% block primary_content_inner %}
    <p>{{ _("You can assign roles to users to control their access to this organization and its datasets.") }}</p>
    <p>{{ h.render_markdown(_("Roles assigned here will be considered **scoped** and specific to this organization.")) }}</p>

    {% snippet 'perm_manager/user_roles_table.html', page=page, scope='organization', group_dict=group_dict %}
{% endblock %}

{%- block styles -%}
    {{ super() }}

    {% asset 'permissions_manager/css' %}
{% endblock %}

{%- block scripts -%}
    {% asset 'permissions_manager/js' %}

    {{ super() }}
{% endblock %}
