.row.wrapper.permissions-manager-wrapper {
    &:before {
        display: none;
    }

    .module-content {
        padding: 1.5rem 1rem;
    }

    .form-actions .btn {
        flex-basis: unset;
    }


    .tabulator-wrapper {
        .tabulator-container {
            background: unset;

            .tabulator-tableholder {
                background: white;
            }
        }
    }
    .tabulator-footer {
        background-color: transparent;
    }

}
