{% extends 'perm_manager/base.html' %}

{% import 'macros/form.html' as form %}
{% import 'perm_manager/snippets/perm_select.html' as perm_select %}

{% block breadcrumb_content %}
    <li class="active">
        <a href="{{ h.url_for(request.endpoint, user_id=user.id) }}">
            {{ _("Update user roles") }}
        </a>
    </li>
{% endblock breadcrumb_content %}

{% block primary_content_inner %}
    <form action="" method="POST">
        {{ h.csrf_input() }}

        <p>
            {% snippet 'user/snippets/placeholder.html', size=20, user_name=user.display_name %}
            {{ user.display_name }}
        </p>

        {{ perm_select.select(
            "roles",
            label=_("Roles"),
            options=h.permission_get_registered_roles_options(),
            selected=data.roles,
            error=errors.roles,
            attrs={"multiple": "1", "autocomplete": "off", "data-module-create": "false"},
        ) }}

        <div class="form-actions">
            <a type="submit" class="btn btn-default" href="{{ url_for('perm_manager.user_roles_list') }}">
                {{ _("Back") }}
            </a>
            <button type="submit" class="btn btn-primary">{{ _("Update") }}</button>
        </div>
    </form>
{% endblock primary_content_inner %}
