{% extends 'perm_manager/base.html' %}

{% import 'macros/form.html' as form %}

{% block breadcrumb_content %}
    <li class="active">
        <a href="{{ h.url_for(request.endpoint, role_id=role.id) }}">
            {{ _("Update role") }}
        </a>
    </li>
{% endblock breadcrumb_content %}

{% block primary_content_inner %}
    <form action="" method="POST">
        {{ h.csrf_input() }}

        <p class="form-label"><b>{{ _('ID') }}</b></p>
        <p><code>{{ role.id }}</code></p>

        {% set attrs = {"required": 1, "class": "form-control"} %}

        {{ form.input('label', label=_('Label'), value=data.label if 'label' in data else role.label, error=errors.label, classes=[], attrs=attrs, is_required=True) }}
        {{ form.textarea('description', label=_('Description'), value=data.description if 'description' in data else role.description, error=errors.description, attrs=attrs, is_required=True) }}

        <div class="form-actions">
            <a href="{{ h.url_for('perm_manager.role_list') }}" class="btn btn-outline-primary">{{ _("Cancel") }}</a>
            <button type="submit" class="btn btn-primary">{{ _("Update") }}</button>
        </div>
    </form>
{% endblock primary_content_inner %}
