{% extends 'admin_panel/base.html' %}

{% import 'macros/form.html' as form %}

{% block ap_main_class %} permissions-update-role {% endblock %}

{% block breadcrumb_content %}
    <li>{% link_for _("Update role"), request.endpoint, role_id=role.id %}</li>
{% endblock breadcrumb_content %}

{% block ap_content %}
    <form action="" method="POST">
        {{ errors }}
        <p class="form-label"><b>{{ _('ID') }}</b></p>
        <p class="form-control">{{ role.id }}</p>

        <p class="form-label"><b>{{ _('Label') }}</b></p>
        <p class="form-control">{{ role.label }}</p>

        {{ form.textarea('description', label=_('Description'), value=role.description, error=errors.description, attrs={"required": 1, "class": "form-control"}, is_required=True) }}

        <div class="form-actions">
            <a href="{{ h.url_for('perm_manager.role_list') }}" class="btn btn-default">{{ _("Cancel") }}</a>
            <button type="submit" class="btn btn-primary">{{ _("Update") }}</button>
        </div>
    </form>
{% endblock ap_content %}
