{% set data = collection.serializer.dictize_row(record) if collection.serializer.ensure_dictized else record %}

<tr class="collection-table--row row-permission-group">
    <td><b>{{ data.name }}</b> <i>{{ data.description }}</i></td>
</tr>

{% for permission in data.permissions %}
    <tr class="collection-table--row row-permission">
        <td>
            <p style="margin:0">{{ permission.label }}</p>
            {% if permission.description %}<p style="margin:0"><i>{{ permission.description }}</i></p>{% endif %}
        </td>

        {% set key = h.ap_munge_string(permission.key) %}

        {% for role in permission.roles %}
            {% set state = role.state or "ignore" %}
            <td>
                <div style="margin: 1rem 0">
                    <span class="tristate tristate-switcher">
                        <input type="radio" id="{{ role.role }}-{{ key }}-state-disallow" name="{{ role.role }}[{{ key }}]" value="1" {{ "checked" if state == "disallow" }}>
                        <input type="radio" id="{{ role.role }}-{{ key }}-state-ignore" name="{{ role.role }}[{{ key }}]" value="0" {{ "checked" if state == "ignore" }}>
                        <input type="radio" id="{{ role.role }}-{{ key }}-state-allow" name="{{ role.role }}[{{ key }}]" value="-1" {{ "checked" if state == "allow" }}>

                        <i></i>
                        <label for="{{ role.role }}-{{ key }}-state-disallow">{{ _("Disallow") }}</label>
                        <label for="{{ role.role }}-{{ key }}-state-ignore">{{ _("Ignore") }}</label>
                        <label for="{{ role.role }}-{{ key }}-state-allow">{{ _("Allow") }}</label>
                    </span>
                </div>
            </td>
        {% endfor %}
    </tr>
{% endfor %}
