{% extends 'perm_manager/base.html' %}

{% block breadcrumb_label %}
    {{ _("User roles") }}
{% endblock breadcrumb_label %}

{% block primary_content_inner %}
    <p>{{ _("You can assign roles to users to control their access to the system.") }}</p>
    <p>{{ h.render_markdown(_("Roles assigned here will be considered **global** roles.")) }}</p>

    {% snippet 'perm_manager/user_roles_table.html', table=table %}
{% endblock primary_content_inner %}

{%- block styles -%}
    {{ super() }}

    {% asset "tables/tables-css" %}
{% endblock %}

{%- block scripts -%}
    {{ super() }}

    {% asset "tables/tables-js" %}
{% endblock %}
