{% if table.scope_id %}
    <form class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="all" value="1" id="all-users" data-module="perm-auto-submit" {% if table.show_all %}checked{% endif %}>
            <label class="form-check-label" for="all-users">{{ _('Show all portal users') }}</label>
        </div>
        <div class="form-text">
            {{ _('By default, only members of this organization and users who already have a role in it are listed.') }}
        </div>
    </form>
{% endif %}

<p class="form-text">{{ _('Only active users are listed.') }}</p>

{% snippet "tables/render_table.html", table=table %}
