{% extends 'admin_panel/base.html' %}

{% import 'macros/form.html' as form %}

{% block ap_main_class %} permissions-user-roles {% endblock %}

{% block breadcrumb_content %}
    <li>{% link_for _("User roles list"), request.endpoint %}</li>
{% endblock breadcrumb_content %}

{% block ap_content %}
    <p>
        {{ _("You can assign roles to users to control their access to the system.") }}
    </p>
    <p>
        {{ h.render_markdown(_("Roles assigned there will be considered as a **global** roles.")) }}
    </p>
    <form action="" method="POST">
        <table class="table collection-table">
            <colgroup>
                <col style="width: 40%">
                <col style="width: 40%">
                <col style="width: 20%">
            </colgroup>

            <thead>
                <tr>
                    <th>{{ _("User") }}</th>
                    <th>{{ _("Roles") }}</th>
                    <th>{{ _("Actions") }}</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ url_for('user.read', id=user.name) }}">
                                {% snippet 'user/snippets/placeholder.html', size=20, user_name=user.display_name %}
                                {{ user.display_name }}
                            </a>
                        </td>
                        <td>
                            {% for role in h.get_user_roles(user.id) %}
                                <span class="badge bg-success">{{ role }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ url_for('perm_manager.edit_user_role', user_id=user.id) }}" class="btn btn-outline-primary">
                                <i class="fas fa-edit"></i>
                                {{ _("Edit") }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock ap_content %}
