<form>
    <div class="row mb-4 g-3 align-items-end justify-content-md-end">
        <div class="col-md-6">
            <label for="q" class="form-label">{{ _('Search') }}</label>
            <input
                type="text"
                id="q"
                name="q"
                class="form-control"
                value="{{ request.args.get('q', '') }}"
            >
        </div>

        <div class="col-md-6 col-lg-4">
            <label for="role" class="form-label">{{ _('Role') }}</label>
            <select name="role" id="role" class="form-select">
                <option value="">{{ _('All Roles') }}</option>
                {% for role in h.permission_get_registered_roles_options() %}
                    <option value="{{ role.value }}" {% if request.args.get('role') == role.value %}selected{% endif %}>
                        {{ role.text }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-3 col-lg-2 d-flex gap-3">
            <button type="submit" class="btn btn-primary w-100 d-block">
                {{ _('Filter') }}
            </button>
            <a href="{{ request.path }}" class="btn btn-danger w-100 d-block">
                {{ _('Clear') }}
            </a>
        </div>
    </div>

    <table class="table">
        <colgroup>
            <col style="width: 40%">
            <col style="width: 40%">
            <col style="width: 20%">
        </colgroup>

        <thead>
            <tr>
                <th>{{ _("User") }}</th>
                <th>{{ _("Roles") }}</th>
                <th>{{ _("Actions") }}</th>
            </tr>
        </thead>

        <tbody>
            {% for user in page.items %}
                <tr>
                    <td>
                        <a href="{{ url_for('user.read', id=user.name) }}">
                            {% snippet 'user/snippets/placeholder.html', size=20, user_name=user.display_name %}
                            {{ user.display_name }}
                        </a>
                    </td>
                    <td>
                        {% for role in user.roles %}
                            <span class="badge bg-success">{{ role }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% if scope == 'global' %}
                            {% set url = url_for('perm_manager.edit_user_role', user_id=user.id) %}
                        {% else %}
                            {% set url = url_for('perm_manager.organization_edit_user_role', org_id=group_dict.id, user_id=user.id) %}
                        {% endif %}

                        <a href="{{ url }}" class="btn btn-outline-primary">
                            <i class="fas fa-edit"></i>
                            {{ _("Edit") }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ page.pager(role=request.args.role, q=request.args.q) }}

</form>
